#wpadminbar .right{float: right;}

#wpwrap{background-color: white;}

.postbox{border: none; box-shadow: none;}

#post-preview, #view-post-btn{display: none;}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap{
background-color: #00589D
}

body{background-color: #ffffff;}
